h2{
    text-align: center;
}
#quizquestion{
    margin-left: 15px;
    font-size: 30px;
    background-color: black;
    color: #ffffff;
}
#next{
    width: 100px;
    margin-left: 49%;
    height: 40px;
}
#submit{
    width: 100px;
    margin-left: 49%;
    height: 40px;
}