/* .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
} */
body{
    background-color: rgb(216, 214, 248);
}
/* .header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    gap: 40px;
    cursor: pointer;
} */
.head-headings{
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(7, 7, 63);
    text-align: center;
}
.details-headings{
    color: rgb(7, 7, 63);
    /* margin-bottom: 20px; */
}
/* .details-headings:hover{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    transform: scale(1.2);
    transition: linear;
} */
.details{
    display: flex;
    align-items: center ;
    justify-content: space-between;
    margin-top: 9%;
    margin-left: 40px;
    margin-right: 65px;
}
/* .deatils-image:hover{
    transform: scale(1.5);
    transition: ease-out;
} */
.input-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
}
#input{
    width: 5cm;
    height: 1cm;
    /* height: inherit; */
    /* border: 4px solid ghostwhite; */
    /* border-radius: 30%; */
    margin-right: 0%;
}
.inputdiv{
    margin-right: 0%;
}
#button{
    width: 3cm;
    /* padding-left: 0%; */
    height: 1cm;
}
.span{
    font-size: 40px;
}
.definitions-container{
    margin-left: 40px;
    color:rgb(7, 7, 63);
}
audio{
    display: none;
}